.menuAtTopShadow {
  box-shadow: rgba(34, 42, 53, 0.06) 0 0 0,
    rgba(0, 0, 0, 0.05) 0 0 0,
    rgba(34, 42, 53, 0.04) 0 0 0 0,
    rgba(34, 42, 53, 0.08) 0 0 0,
    rgba(47, 48, 55, 0.05) 0 0 0,
    rgba(255, 255, 255, 0.1) 0 0 0 inset;
}

.menuScrolledShadow {
  box-shadow: rgba(34, 42, 53, 0.06) 0 0 24px,
    rgba(0, 0, 0, 0.05) 0 1px 1px,
    rgba(34, 42, 53, 0.04) 0 0 0 1px,
    rgba(34, 42, 53, 0.08) 0 0 4px,
    rgba(47, 48, 55, 0.05) 0 16px 68px,
    rgba(255, 255, 255, 0.1) 0 1px 0 inset;
}